<h2 style="font-family: Times New Roman, Times, serif; color: white; margin-top: 10px; margin-left:8px;text-shadow: 2px 2px 5px, rgb(0, 247, 255)">code_fellas</h2>
<div class="container" style="margin-top: 40px">
  <div class="row">
    <div class="col-4" style="margin-top: 100px; margin-left: -30px;">
  <h2 style="font-family: Lucida Console, Courier New, monospace; color: white;">Input Query</h2>
  <form #myForm="ngForm" (ngSubmit)="onClickSubmit(myForm)">
    <div class="form-group">
    <label></label>
    <div class="overflow-scroll">
    <input type="text" size="70" name="userQuery" #userQuery="ngModel" placeholder="Code for Prime Number" ngModel><br><br>
    </div>
  </div>
  <div class="form-group">
    <label></label>
    <select class="form-select" name="userLanguage" #userLanguage="ngModel" [(ngModel)]="selected">
    <option  *ngFor="let l of lan" value="{{l}}" >{{l}}</option>
    </select>
    <br><br>
  </div>
    <button type="submit" value="submit" class="btn btn-info">Submit</button>
</form>
</div>

<div class="col-2"></div>

<div class="col-5">

<div class='terminal'>
<div class='ribbon'>
<div class='circle' ><svg><circle cx="10" cy="10" r="5" fill="red" /></svg></div>
<div class='circle' ><svg><circle cx="10" cy="10" r="5" fill="yellow" /></svg></div>
<div class='circle' ><svg><circle cx="10" cy="10" r="5" fill="black" /></svg></div>
<div class='terminal-title' >code_fellas:~</div>
</div>

<div class='terminal-content'>code_fellas:~$ |<br><br><pre style = "color:white">{{code}}</pre></div>

</div>

<br>
<a [href] = "fileUrl" download="output.txt"><button type="submit"  class="btn btn-info">Download Code</button></a><br><br>
</div>

  </div>
</div>
